/* your beautiful css styling goes here! */
body > div {
  width: 960px;
  margin: 0 auto 0;
  border: 1px solid red;
}

div.gameboard {
  height: 730px;
}


.player {
  fill: blue;
  width:100px;
  height:100px;
}

.enemy {
  fill: red;
  transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
}

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

